body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.container.todo {
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.todo {

    &__box {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        height: 700px;           //del
        border: 2px solid black; 
        overflow: hidden;

    }

    &__intro {
        height: 230px;          //del
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        position: relative;
    }

    &__intro::after {
        content: '';
        background: inherit;
        bottom: -30px;
        left: 0px;
        width: 100%;
        height: 30px;
        position: absolute;
       
    }

    &__list {
        height: 100%;            //del
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__list::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: 100%;
        border: 2px solid black;
        border-radius: 30px 30px 0px 0px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &__item:first-child {
        border-radius: 30px 30px 0px 0px;
    }

    &__item:nth-child(even) {
        background-color: transparent;
    }

    &__task {
        font-size: 20px;
        padding: 5px 0;
    }

    &__checkbox {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__input-box {
        display: flex;
        align-items: center;
    }
    
    &__input-text {
        width: 100%;
        font-size: 20px;
        height: 40px;
        margin: 20px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        
        &:focus {
            outline: none;
        }
    }

    &__input-btn {
        width: 80px;
        height: 40px;
        margin-right: 20px;
        border-radius: 10px;
        border: 1px solid black;

        &:focus {
            outline: none;
        }
    }

    &__btns-holder {
        margin-left: auto;
    }

    &__date {
        position: absolute;
        bottom: 0px;
        left: 50px;
        font-size: 12px;
    }
}