body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-family: 'Montserrat', sans-serif;
}

.container.todo {
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.todo {

    &__box {
        max-width: 600px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;      
        //border: 2px solid transparent; 
        overflow: hidden;

        box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.99);
        background-color: rgba(248, 248, 255, 1);
    }

    &__intro {      
        background: transparent;
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__intro::after {
        content: '';
        background: inherit;
        bottom: -30px;
        left: 0px;
        width: 100%;
        height: 30px;
        position: absolute;
    }

    &__intro-date {
        font-size: 20px;
        font-weight: bold;
    }

    &__intro-btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__intro-btn {
        border: 1px solid transparent;
        padding: 3px 8px;
        background: 0;
        font-size: 18px;
        line-height: 1;
        cursor: pointer;
        color: #000000;
        border-radius: 20px;
        transition: border-color 0.3s;
        margin-right: 3px;

        &.active {
            background-color: #7996a5;
            color: #fff;
        }

        &:focus, &:hover {
            outline: none;
            border: 1px solid #7996a5;
            border-radius: 20px;
        }
    }

    &__list {
        height: 100%;         
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;

        &.active-mode .checked {
           display: none;
        }
        &.completed-mode .todo__item:not(.checked) {
           display: none;
        }
    }

    &__list-mask {
        height: 84%; 

        padding-top: 26px;
        padding-bottom: 20px;

        box-shadow: 0px -8px 11px 0px rgba(50, 50, 50, 0.2);

        border-radius: 30px 30px 0px 0px;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px 20px;
        background-color: transparent;
        border-top: 1px solid #d7dbe8;
        transition: background-color 0.3s;

        &.checked {
            text-decoration: line-through;
        }

        &:hover {
            background-color: #f5f5f6;
        }
        &:hover .todo__btns-holder {
            background-color: rgba(245, 245, 246, 0.8);;
        }
    }

    &__item:first-child {
        border-radius: 30px 30px 0px 0px;
        border-top: none;
    }

    &__item:hover .todo__btns-holder {
        opacity: 1;
    }

    &__task {
        font-size: 20px;
        padding: 5px 0;
            word-wrap: break-word;
        word-break: break-all;
    }

    &__checkbox {
        min-width: 25px;
        min-height: 25px;
        margin-right: 5px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__delete,
    &__edit {
        background: url('../img/delete.png') no-repeat;
        width: 26px;
        height: 26px;
        border: none;
        background-size: cover;
        cursor: pointer;
        border-radius: 20px;

        &:hover {
            background-color: #c8c8c8;
        }
    }

    &__edit {
        background-image: url('../img/edit.png');
        margin-right: 5px;
        border-radius: 0px;
    }

    &__input-box {
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    &__input-text {
        width: 100%;
        font-size: 20px;
        height: 40px;
        margin: 0 20px;
        padding: 5px;
        border-radius: 10px;
        border: 0px solid black;
        transition: box-shadow 0.3s;
        box-shadow: 0px 0px 7px 0px rgb(50 50 50 / 41%);

        &:focus {
            outline: none;
            box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.99);
        }
    }

    &__input-btn {
        width: 46px;
        height: 38px;
        background: url('../img/plus.svg') no-repeat;
        margin-right: 20px;
        border-radius: 50%;
        border: 0px solid black;
        transition: background-color 0.3s, box-shadow 0.3s;
      

        &:focus {
            outline: none;
            background-color: #cfcfcf;
        }
        &:hover  {
            background-color: #cfcfcf;
            box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.99);
            cursor: pointer;
        }
    }

    &__btns-holder {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(248, 248, 255, 0.8);
        z-index: 100;
        
        transition: opacity 0.3s, background-color 0.3s;

        padding-left: 15px;
        padding-right: 15px;
        right: 0;
        top: 0;
        height: 100%;
        opacity: 0;
    }

    &__date {
        position: absolute;
        bottom: 0px;
        left: 50px;
        font-size: 11px;
    }

    .task-editing {
        border: 2px dotted black;
    }
}