body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.container.todo {
    width: 100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.todo {

    &__box {
        max-width: 600px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 30px;      
        border: 2px solid black; 
        overflow: hidden;

    }

    &__intro {
        height: 20%;          
        background: transparent;
        position: relative;
    }

    &__intro::after {
        content: '';
        background: inherit;
        bottom: -30px;
        left: 0px;
        width: 100%;
        height: 30px;
        position: absolute;
       
    }

    &__list {
        height: 100%;         
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__list-mask {
        height: 73%; 
        width: calc(100% + 4px);
        margin-left: -2px;

        padding-top: 20px;
        padding-bottom: 20px;

       
        border: 2px solid black;
        border-radius: 30px 30px 0px 0px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &__item:first-child {
        border-radius: 30px 30px 0px 0px;
    }

    &__item:nth-child(odd) {
        background-color: transparent;
    }

    &__task {
        font-size: 20px;
        padding: 5px 0;
    }

    &__checkbox {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__delete {
        background: url('../img/delete.png') no-repeat;
        width: 26px;
        height: 26px;
        border: none;
        background-size: cover;
        cursor: pointer;
        border-radius: 50%;
        transition: backgorund-color 0.3s;

        &:hover {
            background-color: #c8c8c8;

        }
    }

    &__input-box {
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    &__input-text {
        width: 100%;
        font-size: 20px;
        height: 40px;
        margin: 0 20px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        
        &:focus {
            outline: none;
            border: 2px solid #a48a8a;
        }
    }

    &__input-btn {
        width: 80px;
        height: 40px;
        margin-right: 20px;
        border-radius: 10px;
        border: 1px solid black;

        &:focus {
            outline: none;
        }
    }

    &__btns-holder {
        margin-left: auto;
        display: flex;
    }

    &__date {
        position: absolute;
        bottom: 0px;
        left: 50px;
        font-size: 12px;
    }
}